<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h2>Welcome!</h2>
<br>

<div>
    <a th:href="@{/login}">Login</a>
    <br>
    <a th:href="@{/registration}">Registration</a>
    <br>
    <a th:href="@{/userInfo}">Users Page</a>
    <br>
    <sec:authorize access="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin}">Admin Page</a>
    </sec:authorize>
    <br>
    <a th:href="@{/logout}">Logout</a>
</div>

<script src="../static/adminPage.js"></script>
</body>
</html>